<div class="row">  
<div class="panel panel-default col-md-4">
  <div class="panel-heading">Lista de contas cadastradas</div>
  <div class="panel-body">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Saldo inicial</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.init_value %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova conta', new_account_path, class: "btn btn-default" %>
</div>
</div>
</div>